{% load notifications_tags %}

<aside>
    <div id="sidebar" class="nav-collapse" style="z-index: 99">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="/index">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        {% if user.is_admin %}
        <li><a class="" href="{% url 'sign_up' %}">Create User</a></li>
        <li><a class="" href="{% url 'user_profile' %}">UserProfileForm</a></li>
        <li><a class="" href="{% url 'user_designation_update' %}">Designation Update</a></li>
        {% endif %}

        <li><a id="attid">Attendance</a></li>
        <div class="showhai">
          <li id="">
            <a class="" href="{% url 'attendance_information' %}">Search Attendance</a>
          </li>
        </div>
        <li ><a id="leaveid" >Leave</a></li>
        <div class="leaveshow">
          <li id="">
            <a class="" href="{% url 'leave_request_form' %}">Leave Request</a>
          </li>
          <li id="">
            <a class="" href="{% url 'leave_information' %}">Leave Record</a>
          </li>
        </div>
        <li id="notid">
          <a class="" href="{% url 'notifications_page' %}">Notifications 
            <span style="color: red">({% live_notify_badge %})</span>
          </a>
        </li>
        <li id="lformid"><a class="" href="{% url 'holidays_page' %}">Holidays</a></li>
        <li id="lchatid"><a class="" >Chat</a></li>
        <div class="goupclass" id="multiid">
        <li>
          <a>Group Channels
            <i class="fa fa-plus" onclick="location.href='{% url 'create_group' %}'" 
            aria-hidden="true" style="padding-left: 20px;"></i>
          <!-- <button >+</button> -->
          </a>
        </li>
        </div>

        <div class="multichathai">
          {% for link in multilink %}
          <li>
            <a class="" id="" href="{% url 'group_chat_room' link.id  %}">
              {{ link.group_name }}
            </a>
          </li>
          {% endfor %}
        </div>
        
        <div class="goupclass">
        <li id="oneid">
            <a class="" >Direct Messages
              <i class="fa fa-plus" onclick="location.href='{% url 'create-one-group' %}'" 
                  aria-hidden="true" style="padding-left: 20px;"></i>
              <!-- <button >+</button> -->
            </a>
        </li>
        </div>

        <div class="onechathai">
        {% for link in onelink %}
          {% if link.admin_name == request.user.username %}
           <li><a class="" id="" href="{% url 'one_chat_room' link.id  %}">{{ link.group_name }}</a>
           </li>
          {% else %}
           <li><a class="" id="" href="{% url 'one_chat_room' link.id  %}">{{ link.description }}</a>
           </li>
          {% endif %}
        {% endfor %}
        </div>

        <li id="ltimeid"><a class="" >Timesheet</a></li>
        <div class="sheetclass">
          <li id="ltimeid"><a class="" href="{% url 'timesheet_record' %}">Timesheet Record</a></li>
        </div>
        <li><a class="" href="{% url 'login' %}">Log Out</a></li>
      <!-- sidebar menu end-->
      </ul>
      <!-- sidebar menu end-->
    </div>
</aside>
